#avplayer
{
}

.img-logo-course
{
    top: -2px;
    float: left;
    width: 50px;
    margin-right: 10px;
    position: relative;
}

.favor-link
{
	font-size:15px;
}

.video-list-thumbs{}
.video-list-thumbs > li
{
    margin-bottom:12px;
}

.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a
{
	display:block;
	position:relative;
	background-color: #11538c;
	color: #fff;
	padding: 8px;
	border-radius:3px;
    transition:all 500ms ease-in-out;
    border-radius:0px;
	font-family: 'Prompt', sans-serif;
}

.video-list-thumbs > li > a:hover
{
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	text-decoration:none;
	background-color: #333;
}

.video-list-thumbs h2
{
    bottom: 0;
    font-size: 14px;
    line-height: 14px;
    height: 15px;
    margin: 10px 0 0;
}

.video-list-thumbs span
{
	bottom: 0;
	font-size: 12px;
	height: 20px;
}

.video-list-thumbs .fa-play-circle-o
{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}

.video-list-thumbs > li > a:hover .fa-play-circle-o
{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}

.video-list-thumbs .duration
{
	background-color: rgba(255, 5, 0, 0.3);
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 12px;
	line-height: 13px;
	padding: 5px 10px 5px;
	position: absolute;
	top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration
{
	background-color: rgba(255, 5, 0, 0.8);
}

.video-list-thumbs .label
{
	background-color: rgba(70, 190, 138, 0.3);
	border-radius: 2px;
	color: #000;
	font-size: 13px;
	left: 12px;
	line-height: 9px;
	padding: 5px 10px 5px;
	position: absolute;
	top: 35px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .label
{
	background-color: rgba(70, 190, 138, 0.8);
	color: #000;
}

.timer-display
{
	float: left;
    padding-bottom: 35px;
	width:100%;
}

.timer-display .title
{
	font-size: 14px;
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    top: 10px;
	font-family: 'Prompt', sans-serif;
	color: #777;
}

.timer-display .profiletitle
{
	font-size: 16px;
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
    top: 15px;
	font-family: 'Prompt', sans-serif;
	color: #777;
}

.timercount
{
	width:100%;
	float:left;
	text-align:center;
	font-size: 60px;
	font-family: 'digital', sans-serif;
	color: rgb(0, 0, 0);
	border-bottom: 1px solid #d6d6d6;
}

.timercount::after
{
	content: "00:00:00";
    font-size: 60px;
    font-family: 'digital',sans-serif;
    position: absolute;
    width: 100%;
    color: #d6d6d6;
    text-align: center;
    z-index: -1;
    left: 0;
}

.datecount
{
	width:100%;
	float:left;
	text-align:center;
	font-size: 25px;
	font-family: 'Prompt', sans-serif;
	padding-top: 15px;
}

.datecount small
{
	font-size: 15px;
}

.course-thumbnail 
{
    margin-top: 50px;
}

.course-thumbnail img
{
	width:100%;
	max-height: 150px;
    overflow: hidden;
    object-fit: cover;
}

.ribbon 
{
	background: #d9534f;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    width: 35px;
    right: 19px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 15px;
    color: #f2f2f2;
    z-index: 1;
	top: -5px;
}

.ribbon:after,
.ribbon:before 
{
    content: '';
    position: absolute;
    border-top: 20px solid #d9534f;
    height: 0;
    width: 0;
    top: 100%;
}

.ribbon:after 
{
    border-left: 35px solid transparent;
    right: 0px;
}

.ribbon:before 
{
    border-right: 35px solid transparent;
    left: 0px;
}


.invoice-title h2, .invoice-title h3 
{
    display: inline-block;
}

.table > tbody > tr > .no-line
 {
    border-top: none;
}

.table > thead > tr > .no-line 
{
    border-bottom: none;
}

.table > tbody > tr > .thick-line 
{
    border-top: 2px solid;
}

.review-content
{
	padding-top:50px;
}

.confirm-form
{
	padding-top:50px;
	display:none;
}

#fileinput
{
	position:absolute;
	bottom:0px;
}

.treetable
{
    position: relative;
    display: block;
	margin-bottom: 50px;
}

.treetable ul 
{
    margin-left: 20px;
	padding-right: 10px;
}

.treetable ul .sub
{
    padding-left: 10px;
}

.treetable li 
{
    list-style-type: none;
    margin: 10px;
    position: relative;
    width: 100%;
    display: block;
}

.treetable li .course
{
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    line-height: 10px;
    width: 100%;
    padding-bottom: 10px;
    color: #555;
    margin-bottom: 5px;
}

.treetable li .course-hr:before 
{
    content: "";
    display: block;
    border-top: solid 1px #c1c1c1;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 10px;
    z-index: 1;
}

.treetable li .course-hr span 
{
	background: #fff;
	padding: 0px 15px 0 0px;
	position: relative;
	z-index: 5;
	line-height: 24px;
}

@media (max-width: 479px)
{
	.treetable li .course-hr:before 
	{
		content: "";
		display: block;
		border-top: solid 1px #c1c1c1;
		width: 100%;
		height: 1px;
		position: absolute;
		top: 15px;
		z-index: 1;
	}

	.treetable li .course-hr span 
	{
		background: #fff;
		padding: 0px 15px 0 0px;
		position: relative;
		z-index: 5;
		line-height: 24px;
		white-space: nowrap;
		overflow:hidden;
		text-overflow: ellipsis;
	}
}

.treetable li .course i
{
    font-size: 19px;
}

.treetable li .topic
{
    font-size: 14px;
    padding-left: 5px;
    line-height: 20px;
    width: 100%;
	color: #777;
}

.treetable li .topic .fa
{
	color: #a94442;
}

.treetable li .detail
{
	font-size: 14px;
    padding-left: 5px;
    line-height: 20px;
    float: right;
}

.treetable li .division
{
    /*border: 1px solid #d8d8d8;*/
    padding: 5px;
    margin: 0px;
}

.treetable li::before 
{
    content: "";
    position: absolute;
    top: -21px;
    left: -20px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 0 0px;
    width: 20px;
    height: 30px;
}

.treetable li::after 
{
    position:absolute;
    content:"";
    top:8px;
    left:-20px;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
    border-radius:0px 0 0 0;
    width:20px;
    height:100%;
}

.treetable .sub li::before 
{
    content: "";
    position: absolute;
    top: -21px;
    left: -14px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 0 0px;
    width: 10px;
    height: 30px;
}

.treetable .sub  li::after 
{
    position: absolute;
    content: "";
    top: 8px;
    left: -14px;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 0px 0 0 0;
    width: 10px;
    height: 100%;
}

.treetable li:last-child::after  
{
    display:none;
}

.treetable li:last-child:before
{
    border-radius: 0 0 0 0px;
}

ul.treetable>li:first-child::before 
{
    display:none;
}

ul.treetable>li:first-child::after 
{
    border-radius:0px 0 0 0;
}

.treetable li a 
{
    border: 1px #ccc solid;
    border-radius: 5px;
    padding:2px 5px;
}

.treetable li a:hover, .treetable li a:hover+ul li a,
.treetable li a:focus, .treetable li a:focus+ul li a 
{
    background: #ccc; color: #000; border: 1px solid #000;
}

.treetable li a:hover+ul li::after, .treetable li a:focus+ul li::after,
.treetable li a:hover+ul li::before, .treetable li a:focus+ul li::before 
.treetable li a:hover+ul::before, .treetable li a:focus+ul::before 
.treetable li a:hover+ul ul::before, .treetable li a:focus+ul ul::before
{
    border-color:  #000; /*connector color on hover*/
}

.course-detail-section
{
    float: left;
	width:100%;
	margin-bottom: 60px;
}

ul.listing-box-list li 
{
    border-top: 1px solid #EBEBEB;
    padding: 10px 15px;
    margin: 0 -3px;
}

.course-item-content h4
{
    font-size: 20px;
}

@media screen and (max-width: 991px)
{
	
}

@media (min-width:320px) and (max-width: 480px) 
{ 
	.video-list-thumbs .fa-play-circle-o
	{
		font-size: 35px;
		right: 36%;
		top: 27%;
	}
	.video-list-thumbs h2
	{
		bottom: 0;
		font-size: 12px;
		height: 22px;
		margin: 8px 0 0;
	}
}

#quiz-timer
{
	font-family: 'digital',sans-serif;
    font-size: 35px;
    color: #333;
}


.card
{
	width: 100%;
	background-color: #fff;
	color: #989898;
	margin-bottom: 10px;
	text-transform: uppercase;
	border-radius: 4px;
	position: relative
  
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.5);
}

.card::before
{
	content: attr(data-bg-text);
    position: absolute;
    font-size: 40px;
    right: 0px;
    top: 15px;
    opacity: .2;
    color: #777;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    /* border-right: 2px dashed #dadde6; */
}

.more
{
	width: 100%;
	background-color: #fff;
	color: #989898;
	margin-bottom: 10px;
	text-transform: uppercase;
	border-radius: 4px;
	position: relative
  
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.5);
}

.card .label 
{
    border-radius: 2px;
    font-size: 13px;
    left: 12px;
    line-height: 9px;
    padding: 5px 9px 6px;
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all 500ms ease;
}

.card + .card{margin-left: 2%}

.date
{
  display: table-cell;
  width: 150px;
  position: relative;
  text-align: center;
  border-right: 2px dashed #dadde6;
  background-color: #e2f2ff;
  overflow: hidden;
}

.date:before 
{
    font-family: FontAwesome;
    left: 17px;
    bottom: -25px;
    padding-right: 10px;
    content: "\f108";
    font-size: 130px;
    position: absolute;
    float: left;
    color: #c9e7ff;
    /*-ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/
}

.date time
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.date time span{display: block}

.date time span:first-child
{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 250%;
  text-shadow: 0px 1px 1px #11538c;
}

.date time span:last-child
{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 25px
}


.price
{
  display: table-cell;
  width: 150px;
  position: relative;
  text-align: center;
  border-right: 2px dashed #dadde6;
  background-color: #e2f2ff;
  overflow: hidden;
  height: 200px;
}

.price:before 
{
    font-family: FontAwesome;
    left: 10px;
    bottom: -50px;
    padding-right: 10px;
    content: "\f07a";
    font-size: 175px;
    position: absolute;
    float: left;
    color: #c9e7ff;
    /*-ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);*/
}

.price time
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.price time span{display: block}

.price time span:first-child
{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 250%;
  text-shadow: 0px 1px 1px #11538c;
}

.price time span:last-child
{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 25px
}

.card-cont
{
  display: table-cell;
  width: 75%;
  font-size: 85%;
  padding: 15px 10px 15px 20px;
}

.card-cont h3
{
  color: #3C3C3C;
  font-size: 20px;
}

.card-cont small
{
	color: #3C3C3C;
	font-size: 13px;
}

.row:last-child .card:last-of-type .card-cont h3
{
}

.card-cont > div
{
  display: table-row
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p
{
  display: table-cell
}

.card-cont .even-date i,
.card-cont .even-info i
{
  padding: 5% 5% 0 0
}

.card-cont .even-info p
{
  padding: 15px 60px 20px 0
}

.card-cont .even-date time span
{
  display: block
}

.card-cont a 
{
    display: block;
    text-decoration: none;
    width: 100px;
    height: 30px;
    background-color: #D8DDE0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    /* border-radius: 2px; */
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}

.row:last-child .card:first-child .card-cont a
{
  background-color: #037FDD
}

.row:last-child .card:last-child .card-cont a
{
  background-color: #F8504C
}

@media screen and (max-width: 860px)
{
  .card
  {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px
  }
  
  .card + .card{margin-left: 0}
  
  .card-cont .even-date,
  .card-cont .even-info
  {
    font-size: 75%
  }
}



/* CORNER RIBBON STYLING */
.corner-ribbon
{
	width: 170px;
    background: #2f2f2f;
    color: #fff;
    position: relative;
    text-align: center;
    top: 15px;
    left: 15px;
    line-height: 30px;
    font-size: 15px;
}

.corner-ribbon.left{
  left: -50px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.image {
  text-align: center;
  width: 200px;
  /* Container's dimensions */
  
  height: 200px;
  -webkit-border-radius: 75%;
  -moz-border-radius: 75%;
  box-shadow: 0 0 0 1px #eee;
  background: url("https://images.unsplash.com/reserve/ysPfhVSzSP2m629CW0mw_selfPortrait.jpg?fit=crop&fm=jpg&h=700&q=80&w=1225") center center no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -30px;
  align-content: center;
}


.avatar-wrapper 
{
	position: relative;
	height: 150px;
	width: 150px;
	margin: 10px auto;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 1px 1px 15px -5px black;
	transition: all .3s ease;
}
.avatar-wrapper:hover 
{
  transform: scale(1.05);
  cursor: pointer;
}
.avatar-wrapper:hover .profile-pic 
{
  opacity: .5;
}
.avatar-wrapper .profile-pic 
{
  height: 100%;
  width: 100%;
  transition: all .3s ease;
}
.avatar-wrapper .profile-pic:after 
{
  font-family: FontAwesome;
  content: "\f007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 140px;
  background: #ecf0f1;
  color: #34495e;
  text-align: center;
}
.avatar-wrapper .upload-button 
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatar-wrapper .upload-button .fa-arrow-circle-up 
{
    position: absolute;
    font-size: 170px;
    top: -10px;
    left: 2px;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
    color: #34495e;
}
.avatar-wrapper .upload-button:hover .fa-arrow-circle-up 
{
  opacity: .9;
}

.disabled 
{
    pointer-events: none;
	/* for "disabled" effect */
	opacity: 0.5;
	background: #CCC;
}

.hide 
{
    display:none;
}

.locked
{
	 margin-top: 250px;
}

.locked .fa
{
	font-size:80px;
}
